/* App Component Styles */
.App {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Heading Style */
  h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  /* CyclistRegistration Component Styles */
  .CyclistRegistration {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Form Label Styles */
  .CyclistRegistration label {
    display: block;
    padding: 20px 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  /* Form Input Styles */
  .CyclistRegistration input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Register Button Styles */
  .CyclistRegistration button {
    background-color: #0074cc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* CyclistList Component Styles */
  .CyclistList {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  /* Individual Cyclist Entry Styles */
  .CyclistEntry {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  /* Edit and Delete Button Styles */
  .CyclistEntry button {
    background-color: #0074cc;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  